/* ------------------------ FONT ------------------------ */
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrLPTufntAOvWDSHFF.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiGyp8kv8JHgFVrLPTucHtAOvWDSA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLFj_Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLFj_Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLDz8Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJnecnFHGPezSQ.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiEyp8kv8JHgFVrJJfecnFHGPc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLGT9Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1JlFd2JQEl8qw.woff2) format('woff2');
    unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.gstatic.com/s/poppins/v22/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* ------------------------ ANIMATIONS ------------------------ */

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

/* ------------------------ 1. HOMEPAGE OVERALL ------------------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background-color: #080808;
    color: white;
}

/* colors variables
:root {
  --bg-color: #080808; 
  --second-bg-color: #101010;
  --text-color: white;
  --main-color: #e415ff;
}*/


/* ------------------------ 2. HEADER ------------------------ */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 4rem 15%;
    padding-left: 8rem;
    padding-right: 8rem;
    background: rgba(0, 0, 0, 0.9);
    background-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

/* -------- a. MENU ICON -------- */
#menu-icon {
    font-size: 3.5rem;
    color:  #e415ff;
    display: none;
}

/* -------- b. LOGO : RACHEL HO  -------- */
.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

/* -------- c. SPAN TEXT : blend pink & purple  -------- */
span{
    background: linear-gradient(
        270deg,
        purple 1%,
        rgb(223, 8, 155) 100%
    );
    background-clip: text;
    color: transparent;
    /*text-shadow: 0 0 25px rgb(223, 8, 155) , 0 0 30px rgb(223, 8, 155) , 0 0 35px rgb(223, 8, 155) ;
    text-shadow: 0 0 25px var(rgb(223, 8, 155));*/
}

/* -------- d. NAVIGATION BAR : HOME, ABOUT ME, EDUCATION, EXPERIENCE, PROJECTS, CONTACT -------- */
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: box-shadow 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}

.navbar a:hover {
    color: rgb(223, 8, 155);
    border-bottom: 3px solid #e415ff;
}

/* -------- e. GRADIENT : CONTACT ME -------- */
.gradient-btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    border-radius: 3rem;
    background: linear-gradient(
        270deg,
        purple 1%,
        rgb(223, 8, 155) 100%
    );
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}

.gradient-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px white, 0 0 30px rgb(223, 8, 155) , 0 0 35px rgb(223, 8, 155) ;
}


/* ------------------------ 1. MAIN HOMEPAGE : SECTION INFORMATION &------------------------ */
//
section {
    min-height: 100vh;
    padding: 10rem 15%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
    margin-top: 25vh;  
}

/* -------- A. Left - Home Content -------- */
.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
}

/* ----- Text Content ----- */
.home-content h1{
    /*animation: slideInLeft, 1s, ease-in;*/
    animation: appear 0.3s linear;
    font-size: 8rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-content p{
  animation: appear 0.7s linear;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
}

/* ----- Text Animation : Typing Effect ----- */
.text-animation {
  animation: appear 0.5s linear;
  font-size: 4rem;
  font-weight: 600;
  min-width: 380px;
}

.text-animation span{
  position: relative;
}

.text-animation span::before{
  content: "Software Engineer";
  color: linear-gradient(
        270deg,
        purple 1%,
        rgb(223, 8, 155) 100%
    );
  animation: words 20s infinite;
}

.text-animation span::after{
  content: "";
  background-color:  #080808;
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid #080808;
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
  to {
    border-left: 2px solid rgb(223, 8, 155);
  }
}

@keyframes words{
  0%,
  20% {
    content: "Software Engineer";
  }
  21%,
  40% {
    content: "Web Developer";
  }
  41%,
  60% {
    content: "Frontend Designer";
  }
  61%,
  80% {
    content: "Full-stack Engineer";
  }
  81%,
  100% {
    content: "UI/UX Designer";
  }
}

@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

/* ----- Social Media ----- */
.social-icons a {
  animation: appear 0.9s linear;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 1rem;
  background: transparent;
  border: 2px solid rgb(223, 8, 155);
  border-radius: 50%;
  color: rgb(223, 8, 155);
  margin: 3rem 0.5rem;
  transition: 0.3s ease-in-out;
}

.social-icons a:hover {
  color: white;
  background-color: rgb(223, 8, 155);
  transform: scale(1.2)translateY(-5px);
  box-shadow: 0 0 25px rgb(223, 8, 155);
}

/* ----- BTN-GROUP: RESUME & CONTACT ME ----- */
.btn-group {
  display: flex;
  gap: 1.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: rgb(223, 8, 155);
  box-shadow: 0 0 25px rgb(223, 8, 155);
  border-radius: 3rem;
  font-size: 1.8rem;
  color: black;
  border: 2px solid transparent;
  font-weight: 600;
  transition: 0.3s ease-in-out;
}

/* ----- My Resume ----- */
.btn-group a:nth-of-type(1){
  animation: appear 1s linear;
  background-color:   color: rgb(223, 8, 155);
  color: white;
  border: 2px solid rgb(223, 8, 155);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(1):hover{
    box-shadow: 0 0 25px rgb(223, 8, 155);
    background-color: rgb(223, 8, 155);
    
    color: white;
}

/* ----- Contact ----- */
.btn-group a:nth-of-type(2){
  animation: appear 1s linear;
  background-color: black;
  color: rgb(223, 8, 155);
  border: 2px solid rgb(223, 8, 155);
  box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover{
  box-shadow: 0 0 25px rgb(223, 8, 155);
  background-color: rgb(223, 8, 155);
  color: white;
}

/* -------- B. Right - Home Content -------- */
.home-image img {
  animation: appear 1s linear;
  width: 25vw;
  border-radius: 50%;
  box-shadow: 0 0 25px rgb(223, 8, 155);
  transition: box-shadow 0.4s ease-in-out; /* Apply transition to box-shadow */
}

.home-image img:hover {
  box-shadow: 0 0 25px rgb(223, 8, 155), 0 0 50px rgb(223, 8, 155), 0 0 100px rgb(223, 8, 155);
}



